* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#questions { display: none; }
#intro { display: block; }

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .answer { display: block;
    width: 100%;
    height: 100%;
    padding: 25px 30px; 
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0px;
    color: grey;

  }

  .title a, ul a {
      color: black;
      font-size: 24px;
  }

.card, .info_box, .log, .finale, .tryAgain {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(82, 82, 82, 0.479) 0px 2px 8px 0px;
    color: #6010bc;
    margin: 30px auto;
    max-width: 800px;
    padding: 30px 40px;
    height: 500px;
    text-align: center;
    
  }

  #log {
    display: none;
  }

  #tryAgain {
    display: none;
  }

  .banner, .ques_text  {
    font-size: 36px;
    padding-bottom: 40px;
  }

  .description {
      font-size: 24px;
      padding: 20px 10px;
  }

  .start {
      justify-content: bottom;
  }

  button {
        border: none;
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: purple;
        color: white;
        border-radius: 10px;
        margin: 40px 20px;
    }

    button:hover {
        background: white;
        color: purple;
        border: solid;
        border-radius: 25px;
        text-shadow: none;
    }

    .question_text h2 {
     padding-bottom: 10px;
    }
  
  .option {
    background: paleturquoise;
    border: 1px solid purple;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .option:hover {
    background: paleturquoise;
  }

  #time {
    font-size: 36px;
    font-weight: bold;
    color:purple;
  }

  #score {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  #highScore {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .enter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  #initials {
    padding: 20px;
    margin: 40px 200px;
    text-align: center;
  }

  .finale {
    display: none;
  }

  .yourBest {
    padding-bottom: 15px;
  }

.finalLog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 28px;
  border-bottom: 1px solid;
  border-width: 100%;
  margin: 10px 25px;
  list-style-type: none;
}

#scores {
  display: flex;
  justify-content: space-evenly;
}

.yourScores {
display: flex;
flex: 0 0 50%;
}

.yourInitials {
  display: flex;
  
}